*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
}

.calculator{
    width: 350px;
    height: 600px;  
    border-radius: 20px;
    background-color: black;
    padding: 25px 15px 20px 15px;
}

.calculator h1{
    color: white;
    text-align: center;
}


.calculator input{
    width: 100%;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 15px;
    color: white;
    font-size: 26px;
    text-align: right;
    margin: 25px 0 15px 0;
}

.calculator .btns{
    height:74% ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 35px;
    
}


.calculator .btns button{
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: 400;
}

 .calculator .btns .nol {
    grid-column: 1/3;
    border-radius: 35px;
}





.calculator .btns button:first-child{
    background-color: #a7a5a7;
    color: black;
}

.calculator .btns button:nth-child(4n){
    background-color: #ff9501}


.calculator .btns .teng{
    background-color: #ff9501;
}